<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700');
        body {
            padding-top:0px; 
            background: linear-gradient(135deg, #ebf7fd, #1797d2);
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDXLOMgs19AOUHeizaMnRwjVyzxcTGWmJ8"></script>
</head>
<body>
