@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, html * {
  font-family: Roboto;
}

body {
  background-repeat: no-repeat;
  background: #FFFFFF;
  font-family: 'Roboto' !important;
}
/** ============================================================
 * Define Class Names
 * ========================================================== */
 .fixed-nav-bar {
  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  padding-left: 1rem;
}

/** ============================================================
 * Define Class Names
 * ========================================================== */
.panel-title {
  color: #4183c4;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
}

/** ============================================================
 * Define Loading Class Name
 * ========================================================== */
.loading {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  background-size: 300% 300%;
  -webkit-animation: Background 5s ease infinite;
  -moz-animation: Background 5s ease infinite;
  animation: Background 5s ease infinite;
  position: absolute;
  top: 0;
  z-index: 999999;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  letter-spacing: -1px;
}

.loading-title {
  text-align: center;
}

.loading-image {
  padding-top: 25vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

@-webkit-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes blink {50% { color: transparent }}
.loadingdot { animation: 1s blink infinite }
.loadingdot:nth-child(2) { animation-delay: 250ms }
.loadingdot:nth-child(3) { animation-delay: 500ms }

/** ============================================================
 * Define Landmark Class Names
 * ========================================================== */
 .landmark-map-list-container {
   position: fixed;
   padding: 1rem;
   bottom: 0;
   top: 64;
   overflow: hidden;
 }

 .landmark-map-list {
  position: fixed;
  bottom: 0px;
  top: 64px;
  overflow-y: auto;
  padding-right: 1rem;
}

.landmark-map-list::-webkit-scrollbar {
  width: 0px;
}

.landmark-page-title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  letter-spacing: -1px;
  padding: 12.5rem 0rem 0rem 0rem;
}

.landmark-post-modal {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: -1px;
  background-color: #1797d2;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
/** ============================================================
 * Define NavSideBar Class Names
 * ========================================================== */
.modal-landmark {
  @media screen and (max-width: 425px) {
    width: 95vw;
  }
  @media screen and (min-width: 1200px) {
    width: 60vw;
  }
}

.Sidebar-demo {
  padding: 0px;
}

.Sidebar-Toggle {
  position: 'fixed';
  bottom: 100;
}

.Sidebar.modal.fade .modal-dialog {
  transition: none;
  padding: 0px;
}
.Sidebar.modal.fade {
  transition: transform 0.3s ease-out, 
  opacity 0.15s linear;
}
.Sidebar.modal.fade:not(.in).left {
  transform: translate3d(-100%, 0, 0);
}
.Sidebar.modal.fade:not(.in).right {
  transform: translate3d(100%, 0, 0);
}
.Sidebar.modal {
  overflow: auto;
  max-width: 100%;
  box-shadow: 5px 0 10px;
  background-color: #f5f5f5;
  outline-width: 0px;
}
.Sidebar.modal.left {
  right: 75vw;
}
.Sidebar.modal.right {
  left: auto;
}
.Sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}
.Sidebar.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.Sidebar.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.Sidebar.modal.fade:not(.in).left .modal-dialog {
  transform: translate3d(-100%, 0, 0);
}
.Sidebar.modal.fade:not(.in).right .modal-dialog {
  transform: translate3d(100%, 0, 0);
}

.Sidebar .nav {
  width: 66vw;
  font-size: 1.5rem;
}